{% extends 'base.html.twig' %}

{% block title %}Hello UmfrageController!{% endblock %}

{% block body %}
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Author Email</th>
                <th>Title</th>
                <th>Beschreibung</th>
                <th>Termine</th>
                <th>Expiration Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if umfrage %}
            <tr>
                <td>{{ umfrage.id }}</td>
                <td>{{ umfrage.name }}</td>
                <td>{{ umfrage.email }}</td>
                <td>{{ umfrage.title }}</td>
                <td>{{ umfrage.description }}</td>
                <td>
                {% for date in umfrage.termins  %}
                    <div>{{ date.date|date('d.m.Y h:m') }}</div>
                {% endfor %}
                </td>
                <td>{{ umfrage.expiration_date|date('d.m.Y h:m') }}</td>
                <td>
                    <a class="btn btn-success d-flex flex-wrap-reverse p-3 mb-1 justify-content-center" href="">Vote</a>
                    <a class="btn btn-warning" href="">edit</a>
                    <a class="btn btn-danger"  href="">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Keine Umfragedaten Gefunden</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <hr>
    {% if umfrage %}
    <div class="row">
        <div class="col-8 offset-1 border">
            <h1>{{umfrage.title}}</h1>
            
            <div class="d-flex row">
                <div class="col-10">
                    {{umfrage.description}}
                </div>
                <div class=" col-2 author-box">
                    Erstellt von: 
                    <br>
                    <div class="author">
                        {{umfrage.name}}
                    </div>
                    <div class="author-mail">
                        {{umfrage.email}}
                </div>
            </div>
            
            
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        {% for date in umfrage.termins  %}
                        <th class="table-termine text-center">
                            {{ date.date|date('d.m.Y') }}<br>
                            {{ date.date|date('h:i') }}
                            </td>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>

                    {% for key,termin in db_termine %}
                    <tr>
                        <td>{{key}}</td>
                        {% for date in termin  %}
                        <td class="text-center">
                            {% if date.answer == 'yes' %}
                            <i class="fa-solid fa-square-check"></i>
                            {% elseif date.answer == 'maybe' %}
                                <i class="fa-solid fa-circle-question"></i>
                            {% else %}
                               <i class="fa-solid fa-square-xmark"></i>
                            {% endif %}
                        </td>
                        {% endfor %}
                    {% endfor %}
                    <tr class="user-input-row">
                        
                        <td>

                            
                            {{ form_start(voter) }}
                            <div class="row">
                            <div class="col-9">
                            {{ form_widget(voter.name) }}
                            </div>
                            <div class="col-2">
                            {{ form_widget(voter.save, {'attr': {'class': 'btn'}}) }}
                            <label class="save-btn btn" for="{{voter.save.vars.id}}">
                                <i class="fa-solid fa-save"></i>
                            </label>
                            </div>
                            </div>
                            
                        </td>
                        {% for vote in voter.votes  %}
                            <td class ="answer-input-cell">
                                    {% for answer in vote.children.answer.children  %}
                                        {{ form_widget(answer, {'attr': {'class': 'btn-check'}}) }}
                                        <label class="btn" for="{{ answer.vars.id }}">
                                            {% if answer.vars.value == 'yes' %}
                                                <i class="fa-solid fa-square-check"></i>
                                            {% elseif answer.vars.value == 'maybe' %}
                                                <i class="fa-solid fa-circle-question"></i>
                                             {% elseif answer.vars.value == 'no' %}
                                                <i class="fa-solid fa-square-xmark"></i>
                                            {% endif %}

                                        </label>
                                    {% endfor %}
                            
                            </td>
                        {% endfor %}
                        
                            {{ form_end(voter) }}
                    </tr>
                    <tr>
                        <td>Summary:</td>
                        {% for date in dateSummary  %}
                        <td class="text-center">
                            <div class="summary p-3 mb-1 justify-content-center">
                                <div>
                                <i class="fa-solid fa-square-check"></i> <span>:&nbsp{{date.yes}}</span>  {% if date.stared is same as(1) %}<i class="fa-solid fa-star" style="opacity: 0.5"></i>{% endif %}
                                </div>
                                <div>
                               <i class="fa-solid fa-circle-question"></i> <span>:&nbsp{{date.maybe}}</span>
                                </div>
                                <div>
                                <i class="fa-solid fa-square-xmark"></i> <span>:&nbsp{{date.no}}</span>
                                </div>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
            <tr>
                <td colspan="12">Keine Umfragedaten Gefunden</td>
            </tr>
    {% endif %}
    <hr>
    <a class="btn btn-primary" href="{{ path('app_home') }}">Zurück</a>
</div>
{% endblock %}
