<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Puudel!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <header>
            <nav>
                <div class="left-nav">
                    <h1>Puudel Project 🐩</h1>
                    <a href="{{ path('app_home')}}">Home</a>
                    <a href="{{ path('app_about')}}">About</a>

                    <a href="#">Contact</a>
                </div>
                <div class="right-nav">
                    <a href="#">
                        <i class="fa-solid fa-earth-americas"></i>
                    </a>
                    {% if app.user %}
                    <a href="{{ path('app_logout')}}">Logout</a>
                    {% else %}
                    <a href="{{ path('app_register')}}">Register</a>
                    <a href="{{ path('app_login')}}">Login</a>
                    {% endif %}

                </div>
            </nav>
        </header>
        {% endblock %}
        
        {% if app.session.flashbag.has('error') %}
            {% set lastError = app.session.flashbag.get('error')|last %}
            <div class="alert alert-danger">{{ lastError }}</div>
        {% endif %}

        {% block body %}
        {% endblock %}
        
        {% block footer %}
        <footer>
	        <div class="container">
                <p><a href="#">FAQ</a> | <a href="#">Donation</a> | &copy; 2023 My Test Project. All rights reserved.</p>
            </div>
        </footer>
        {% endblock %}
    </body>
</html>
